a:link {
  color: #00539f;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #00539f;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #00539f;
  background-color: #ffd200;
  text-decoration: underline;
}

a:active {
  color: #00539f;
  background-color: #ffd200;
  text-decoration: underline;
}